@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

body {
  font-family: "Manrope", sans-serif;
}

h1 {
  font-size: 45px;
  font-weight: bolder;
  color: #ec6e4c;
  margin-top: 25px;
}

h4 {
  font-size: 18px;
  color: #ec6e4c;
}

.body-box {
  background-color: rgba(236, 168, 20, 0.096);
  width: 700px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 50px;
  border-radius: 10%;
}
