.search-button {
  padding: 5px;
  border: solid 2px #ec6e4c;
  border-radius: 10px;
}

.current-location-button {
  position: relative;
  left: 25px;
  background-color: #ec6e4c;
  color: white;
  line-height: 24px;
  font-size: 14px;
  width: 160px;
  transition: all 150ms ease-in-out;
}
.current-location-button:hover {
  background: white;
  border-color: #ec6e4c;
  color: gray;
}

.city-result {
  margin-top: 25px;
}

.temp-wind {
  position: relative;
  top: 13px;
}

.temp {
  font-size: 45px;
  position: relative;
  line-height: 1;
}

.condition-and-wind {
  font-size: 14px;
}

.date-time {
  font-size: 12px;
  color: gray;
}

.forecast-boxes {
  padding: 10px;
}

.forecast strong {
  color: black;
}

.next-days {
  border: solid 2px #f8ebe6;
  border-radius: 30px;
  padding: 10px;
  margin: 25px auto 0;
  text-align: center;
  color: gray;
  background-color: rgba(245, 206, 179, 0.329);
  cursor: pointer;
}

.low-temp {
  font-weight: lighter;
}

.code-link {
  font-size: 12px;
  margin-top: 10px;
  color: gray;
}